edit-gambar-branch.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "edit-gambar-branch",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "e1d2c3b4-0001-4000-8000-000000000001",
      "name": "Webhook Edit Gambar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-368, 1400],
      "webhookId": "edit-gambar-branch"
    },
    {
      "parameters": {
        "jsCode": "// Field binary yang diharapkan dari web app: 'gambar' (gambar hasil generate yang mau diedit AI)\n// Field text: instruksi (perintah edit dalam bahasa natural dari user)\nconst item = $input.first();\nconst binari = item.binary || {};\nif (!binari.gambar) {\n  return [{ json: { sukses: false, error: 'File gambar tidak ditemukan. Pastikan web app upload gambar dengan nama field: gambar', lewatiGemini: true } }];\n}\nconst body = item.json.body || item.json;\nconst instruksi = (body.instruksi || '').trim();\nif (!instruksi) {\n  return [{ json: { sukses: false, error: 'Instruksi edit kosong. Isi dulu perintah editnya.', lewatiGemini: true } }];\n}\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'gambar');\nreturn [{\n  json: {\n    gambarB64: buffer.toString('base64'),\n    gambarMime: binari.gambar.mimeType || 'image/png',\n    instruksi\n  }\n}];"
      },
      "id": "e1d2c3b4-0002-4000-8000-000000000002",
      "name": "Siapkan Edit Gambar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-128, 1400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-image:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [ { text: 'Kamu mengedit ulang SATU gambar produk berikut sesuai instruksi user secara presisi.\\n\\nINSTRUKSI EDIT DARI USER: ' + $json.instruksi + '\\n\\nATURAN WAJIB (prioritas tertinggi):\\n- Lakukan HANYA perubahan yang diminta di instruksi di atas, jangan lebih jangan kurang.\\n- Pertahankan produk, bentuk, proporsi, warna asli, background, komposisi, dan seluruh elemen lain PERSIS SAMA seperti gambar asli kecuali yang eksplisit diminta diubah oleh instruksi.\\n- DILARANG menambahkan teks, watermark, logo, badge, atau elemen apa pun yang tidak diminta di instruksi.\\n- Jangan berimprovisasi atau berkreasi di luar instruksi.\\n- WAJIB hasilkan gambar (image) sebagai output, jangan pernah membalas hanya dengan teks penjelasan.' }, { inline_data: { mime_type: $json.gambarMime, data: $json.gambarB64 } } ] }], generationConfig: { responseModalities: [\"TEXT\",\"IMAGE\"], maxOutputTokens: 8192 } }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "e1d2c3b4-0003-4000-8000-000000000003",
      "name": "Gemini Edit Gambar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [96, 1400],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\n\nif (resp?.error) {\n  return [{ json: { sukses: false, error: 'Gemini API error: ' + JSON.stringify(resp.error) } }];\n}\n\nconst parts = resp?.candidates?.[0]?.content?.parts || [];\nconst imgPart = parts.find(p => p.inlineData || p.inline_data);\nif (!imgPart) {\n  return [{ json: { sukses: false, error: 'AI tidak menghasilkan gambar. Coba ubah instruksi edit.' } }];\n}\nconst d = imgPart.inlineData || imgPart.inline_data;\nreturn [{\n  json: {\n    sukses: true,\n    image: 'data:' + (d.mimeType || d.mime_type || 'image/png') + ';base64,' + d.data\n  }\n}];"
      },
      "id": "e1d2c3b4-0004-4000-8000-000000000004",
      "name": "Ekstrak Hasil Edit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 1400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "e1d2c3b4-0005-4000-8000-000000000005",
      "name": "Respond Edit Gambar",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [544, 1400]
    }
  ],
  "connections": {
    "Webhook Edit Gambar": {
      "main": [[{ "node": "Siapkan Edit Gambar", "type": "main", "index": 0 }]]
    },
    "Siapkan Edit Gambar": {
      "main": [[{ "node": "Gemini Edit Gambar", "type": "main", "index": 0 }]]
    },
    "Gemini Edit Gambar": {
      "main": [[{ "node": "Ekstrak Hasil Edit", "type": "main", "index": 0 }]]
    },
    "Ekstrak Hasil Edit": {
      "main": [[{ "node": "Respond Edit Gambar", "type": "main", "index": 0 }]]
    }
  }
}
